# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env

# Virtual Environment
venv/
env/
ENV/

# data
data/raw/
data/processed/ 
data/final/
data/raw/*
!data/raw/.gitkeep

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
models/rf_model.pkl
